.a1{
  width: 82%;
  float: right;
  border: 1px solid rgb(219, 219, 219);
  background-color: rgb(240, 240, 240);
  border-radius: 3px;
  margin: 0 9%;
  cursor: pointer;
}
.a1:hover{
  background-color: rgb(255, 255, 255);
}
.span1{
  float: right;
  margin: 35px 8%;
  font-size: 18px;
  color: rgb(0, 0, 0);
}
.span2{
  float: left;
  margin: 35px 9%;
  font-size: 18px;
  color: rgb(235, 9, 9);
}
.a2{
  width: 82%;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 3px;
  margin: 12px 9% 0;
  background-color: rgb(240, 240, 240);
  float: right;
}
.a2-1{
  width: 40%;
  height: 42.5px;
  float: right;
  margin: 0px 6% 20px 0;
  cursor: pointer;
}

.labela1{
  width: 100%;
  float: right;
  font-size: 18px;
  color: rgb(6, 0, 3);
  margin-right: 6%;
  margin-top: 5px;
  margin-bottom: 15px;
  text-align: right;
}
.labela11{

  font-size: 18px;
  color: rgb(6, 0, 3);
  margin-right: 6%;
  float: right;
  margin-top: -40px;
  margin-bottom: 5px;
  text-align: right;

}
.labela2{
  width: 100%;
  font-size: 18px;
  color: rgb(6, 0, 3);
  float: right;
  margin-right: 7%;
  margin-top: 15px;
  text-align: right;
}

.a2-5{
  width: 86%;
  height: 300px;
  float: right;
  background-color: rgb(240, 240, 240);
  margin: 10px 7% 30px 0;
  background-color: rgb(255, 255, 255);
  border-radius: 3px;
}

.a2-2{
  width: 86%;
  float: right;
  background-color: rgb(240, 240, 240);
  margin: 10px 7% 30px 0;
  text-align: right;
}
.labela3{
  width: 100%;
  font-size: 18px;
  color: rgb(6, 0, 3);
  float: right;
  margin-right: 2%;
  margin-top: 15px;
  text-align: right;
}
.p1{
  text-align:right;
  margin-top: 8px;
  margin-right: 2%;
  opacity: .3;
}
.ia{
  margin: 47px 48px 0 0;
}
.aksa{
  width: 120px;
  height: 120px;
  text-align: right;
  float: right;
  margin: 2px 2.5%;
  border: 1px dashed rgb(182, 190, 24);
  background-color:#fff
  cursor:pointer;
}
.a2-3{
  width: 86%;
  height: 50px;
  float: right;
  background-color: rgb(255, 255, 255);
  margin: 5px 7% 15px 0;
  border: 2px solid rgb(219, 219, 219);
}
.zirnevis{
  width: 86%;
  height: 50px;
  float: right;
  background-color: rgb(255, 255, 255);
  margin: 5px 7% 10px 0;
  border: 2px solid rgb(219, 219, 219);
}
.labela4{
  width: 100%;
  font-size: 18px;
  color: rgb(6, 0, 3);
  float: right;
  margin-right: 8%;
  margin-top: 15px;
  text-align: right;
}
.labela4brand{
  width: 50%;
  font-size: 18px;
  color: rgb(6, 0, 3);
  float: right;
  margin-right: 8%;

  text-align: right;
}

.a6-3brand{
  width: 10%;
  height: 30px;
  float: left;
  margin-left: 7%;
  background-color: rgb(255, 255, 255);
  color: rgba(252, 8, 30, 0.92);
  font-size: 13px;
  display: none;
}
.divberand{
  display: none;
}
.active{
  display: block;
}
.model{
  display: none;
}

.a2-4{
  width: 86%;
  height: 50px;
  float: right;
  background-color: rgb(240, 240, 240);
  margin:10px 7% 30px 0;
}
.a2-4input{
  text-align: right;
  float: right;

}
.a2-4input1{
margin-right: 3%;
  float: right;
}
.a2-4input11{
margin-right: 4%;
  float: right;
}
.a2-4input111{
margin-right: 7%;
  float: right;
}

.a2-4input2{
margin-right: 3%;
  float: right;
}
.a2-4input3{
margin-right: 6%;
float: right;
}
.a2-4input4{
margin-right: 6%;
}
.labela5{
  width: 90%;
  font-size: 18px;
  color: rgb(6, 0, 3);
  float: right;
  margin-right: 8%;
  margin-top: 15px;
  text-align: right;
}
.p2{
  width: 100%;
  float: right;
  text-align:right;
  font-size: 14px;
  margin-top: 8px;
  margin-right: 8%;
  opacity: .4;
}
.a2-7{
  width: 86%;
  height: 150px;
  float: right;
  background-color: rgb(255, 255, 255);
  margin: 10px 7% 30px 0;
  border: 2px solid rgb(219, 219, 219);
}
.a2-6{
  width: 100%;
  height: 45px;
  float: left;
  margin: 20px 60px;
  border-radius:3px 3px 3px 3px;
}
.a2-6 button{
  width: 20%;
  height: 45px;
  font-size: 19px;
  color: rgb(128, 4, 30);
}
.agahi2{
  width: 100%;
  float: right;
}

.a2-4input1a{
margin-right:4.5%;
  float: right;
}
.a2-4input4a{
margin-right:7%;
float: right;
}
.a2-4input2a{
margin-right: 2%;
  float: right;
}
.a2-8{
  width: 50%;
  height: 40px
  float: right;
  margin: 0 25%;
  text-align: center;
}
.labela4-1{
  font-size: 18px;
  color: rgb(6, 0, 3);
  float: right;
  margin-right: 8%;
  margin-top: 10px;
  text-align: right;
}

.labela4-2{
  font-size: 18px;
  color: rgb(6, 0, 3);
  float: right;
  margin-right: 2.5%;
  margin-top: 16px;
  text-align: right;
}

.a5{
  width: 90%;
  float: right;
  height: 45px;
  margin: 0 5% 15px 0;
  border-bottom: 1px solid rgb(148, 148, 148);

}
.a5 span{
  width: 15%;
  padding: 15px 0 0 0;
  cursor: pointer;
  color: rgb(28, 27, 27);
  float: right;
  text-align: center;
  font-size: 18px;
}
.a5 span::selection{
  color: rgb(218, 16, 16);
}
.a3 {
  width: 15%;
  text-align: center;
  height:45px;
  border-bottom: 1px solid rgb(148, 148, 148);
  float: right;

}
.a3:hover{
  color:rgb(0, 0, 0);
  border-bottom: 2px solid rgb(191, 16, 227);
}
.a4{
  margin-right: 30%;
}
.a6{
width: 100%;
float: right;
}
.a6-1 {
  font-size: 22px;
    float: right;
    text-align: right;
    margin-right: 9%;
    padding: 15px 0 0 0;
}
.a6-2{
  width:71%;
  float: right;
  text-align: right;
  margin-right: 9%;
  padding: 15px 0 0 0;
}
.a6-3{
  width: 15%;
  height: 45px;
  float: left;
  margin-left: 4%;
  background-color: rgb(255, 255, 255);
  color: rgba(252, 8, 30, 0.92);
  font-size: 18px;
}
.a6-3 button{
  padding-bottom: 22.5px;
}
.ajax{
  width: 100%;
  float: right;
  text-align: right;
  margin: 0 7% 0 0;
}
.a10{
  width: 25%;
  text-align: center;
  margin:auto;
  margin-top: 20px;
}

.khat2{
  width: 96%;
    border-top: 1px solid rgb(195, 195, 195);
    margin-right: 1.6%;
}
.allagahi{
  width: 100%;
  float: left;
  margin-top: 5px;

}
.oneagahi{
  width: calc(48% - 4px);
  height: 150px;
  margin: 5px 1%;
  float: right;
  border-bottom: 1px solid rgb(195, 195, 195);
  text-align: right;
}

.oneagahi:hover{
  /* color:rgb(144, 18, 86); */
  border-bottom: 1px solid rgb(191, 16, 227);
}
.matnagahi{
  width: calc(100% - 140px);
  float: right;
  padding: 8px 4px 0 0;
}
.aksagahi{
  width: 140px;
  float: left;
}
.titragahi{
  font-size: 20px;
  margin-bottom: 60px;
}
.priceagahi{
  font-size: 12.5px;
  margin-bottom: auto;
}
.tarikh{
  font-size: 12.1px;
  opacity: .5;
}
.tarikh2{
  font-size: 12.1px;
  opacity: .1;
}
.e21-search{
  width: 28px;
  height: 25px;
  float: right;
  border: 1px solid grey;
  background-color: rgb(255, 255, 255);
  border-left: none;
  border-radius:0 3px 3px 0;
  margin-right: 1%;
}
.e14-1{
  width: 40px;
  height: 43px;
  float: right;
/* background-color: rgb(34, 17, 171); */
  border: none;
  border-radius:0px 2px 2px 0;
}
.a7{
  width: 35%;
  margin: 0 4% 0 0;
  
  border-bottom: 1px solid rgb(235, 235, 235);

}
.a7 span{
  background-color: rgb(255, 255, 255);
  height: 50px;
}

 /* .a7-input{
  width: 95%;
  padding: 0 66% 0 0;
  border: none;
  background-color: rgb(255, 255, 255);
  float: left;
}
.a7-input2{
  width: 95%;
  padding: 0 55% 0 0;
  border: none;
  background-color: rgb(255, 255, 255);
  float: left;
} */



.sabt1{
  width: calc(100% - 180px);;
  height: 35px;
  float: right;
  color: rgb(94, 94, 94);
  margin-top: 16px;
  margin-right: 20px;
  font-size: 18px;
  text-align: right;
  border-bottom: .2px solid rgb(189, 189, 189);
}
.sabt2{
  width: 160px;
  height: 35px;
  margin-top: 16px;
  float: right;
  font-size: 18px;
  border-bottom: .2px solid rgb(189, 189, 189);
}
.sabt3{
  width: 100%;
  float: right;
  font-size: 24px;
  text-align: right;
  margin-right: 5px;
  margin-top: 28px;
}
.sabt4{
  width: 100%;
  float: right;
  font-size: 22px;
  font-weight: bold;
  text-align: right;
  margin-right: 5px;
  margin-top: 10px;
}
.sabt5{
  width: 100%;
  float: right;
  font-size: 18px;
  color: rgb(94, 94, 94);
  text-align: right;
  margin-right: 20px;
  margin-top: 25px;
}
.sabt6{
  width: 100%;
  float: right;
  font-size: 18px;
  color: rgb(94, 94, 94);
  text-align: right;
  margin-right: 40px;
  margin-top: 60px;
  margin-bottom: 40px;
}
.amaragahi{
  width: 96%;
  height: 300px;
  float: right;
  margin: 0 2%;
}
.amaragahi1{
  width: 44%;
  float: right;
  text-align: right;
  font-size: 22px;
  margin-right: 40px;
}
.amaragahi2{
  text-align: right;
  font-size: 16px;
  margin-top: 10px;
  margin-right: 40px;
}
.amaragahi3{
  float: right;
  text-align: right;
  margin-right: 100px;
  margin-top: 40px;
}
