.a1{
  width: 82%;
  height: 100px;
  float: right;
  border: 1px solid rgb(219, 219, 219);
  background-color: rgb(240, 240, 240);
  border-radius: 3px;
  margin: 0 9%;
}
.a1:hover{
  background-color: rgb(255, 255, 255);
}
.span1{
  float: right;
  margin: 35px 8%;
  font-size: 18px;
  color: rgb(0, 0, 0);
}
.span2{
  float: left;
  margin: 35px 9%;
  font-size: 18px;
  color: rgb(0, 0, 0);
}
.a2{
  width: 82%;
  min-height: 500px;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 3px;
  margin: 12px 9% 0;
  background-color: rgb(161, 113, 8);
  float: right;
}
.a3{
  width: 40%;
  height: 50px;
  float: right;
  margin: 40px 4% 0 0;
  cursor: pointer;
}

.labela1{
  float: right;
  font-size: 18px;
  color: rgb(6, 0, 3);
  margin: 30px 8% 0 0;
  padding-bottom: 20px;
}
.labela2{
  font-size: 18px;
  color: rgb(6, 0, 3);
  float: right;
  margin: 30px -3% 0 0;
}
.a4{
  width: 60%;
  height: 250px;
  background-color: rgb(135, 135, 135);
  margin: 180px 10% 0;
}
