*{
  font-size: 16px;
  @font-face {
 font-family: 'b koodak';
 src: url('../sabt -font/BKoodakBold.eot?#') format('eot'),  /* IE6–8 */
      url('../sabt -font/BKoodakBold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url('../sabt -font/BKoodakBold.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
 font-family: 'b yekan';
 src: url('../sabt -font/BYekan.eot?#') format('eot'),  /* IE6–8 */
      url('../sabt -font/BYekan.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url('../sabt -font/BYekan.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
 }
}
body{
  font-family: "b koodak", Arial, Helvetica, sans-serif;
}
.logoSpinner{
  width: 100%;
  height: 1000px;;
  float: right;
  position: absolute;
  z-index: 10;
  top: 0;
  background-color: #dad2d7;
  opacity: 0.2;
}
.logoSpinner2{
  float: right;
  position: absolute;
  z-index: 11;
  top: 250px;
  right: 50%;
}
* {
  box-sizing: border-box;
}

.e1{
  width: 100%;
  height: 58px;
  margin-top: -30px;
  float: right;
  text-align: center;
  border-bottom: 1px solid rgb(237, 234, 236);


}
.e2{
  margin: 5px 5px;
  height: 50px;
width: 80px;
  float: right;
}
.e3{
  width: 132px;
  height: 41px;
  line-height: 41px;
  float: right;
  margin: 8px 5px;
  background-color: #fff;
  cursor: pointer;
  color: rgb(248, 252, 237);
  border: 1px solid rgb(205, 199, 199);

}
.e4{
  width:90px;
  float: right;
  color: rgb(138, 132, 132);
}
.e5{
  width: 40px;
  height: 39px;
  background-color: rgba(230, 230, 237, 0.97);
  float: left;
}
.e5 i{
  background-color: rgba(230, 230, 237, 0.97);
  position: relative;
  top: 3px;
  color: rgb(138, 132, 132);
}

.e3:hover{
  border-color: rgb(59, 151, 167);
}
.e3:hover  .e4 , .e3:hover .e5 i{
  color: #000;
}
.e6{
  position: relative;
  top: 5px;
  color: rgb(19, 6, 6);
  background-color: rgb(189, 188, 187);
}
.e7,.e8,.e9{
  width: 100%;
  float: right;
  margin-bottom: 20px;
}

.e10{
  width: 18%;
  float: right;
  text-align: center;
  margin: 10px 1%;
  border: 1px solid rgb(8, 5, 1);
  cursor: pointer;
}
.e10:hover{
  background-color: rgb(213, 36, 211);
  color: rgb(250, 250, 250);
}
.e12{
  float: right;
  text-align: right;
  color: rgb(223, 22, 191);
}
.e13{
  width: calc(100% - 28px);
  height: 35px;
  font-size: 14px;
  border: 1px solid grey;
  border-left: none;
  float: right;
  border-radius: 0 3px 3px 0;
}
.e14{
  width: 28px;
  height: 35px;
  float: right;
  border: 1px solid grey;
  border-right: none;
  border-radius:3px 0 0 3px;
}
.e14 i{
  position: relative;
  top: 2px;
  left: 2px;
  font-size: 12px;
  color: rgb(128, 128, 128);
}
.e13:focus,.e13:focus + .e14{
  border-color: rgb(59, 151, 167);
}
.e7::selection{
  background: rgb(227, 24, 175);
}
.e13:focus + .e14 i{
  color: rgb(3, 4, 1);
}
.e13::-moz-placeholder{
  color: rgb(66, 10, 129);
  opacity: 0.6;
}
.e13:focus::-moz-placeholder{
  opacity: 0.2;
}
.e15{
  width: 60%;
  height: 45px;
  margin: 0px 6px;
  float: right;
}
.u15{
  width: 100%;
  height: 45px;
  line-height: 45px;
  float: right;

}
.u15 li{
  float: right;
  list-style: none;
}
.u15 a{color: #000;}

.e15 li{
  height: 45px;
  font-size: 16px;
  color: rgb(1, 0, 1);
  padding: 0 4px;
}
.e16{
  width: 8%;
  height: 45px;
  float: right;
  margin: 5px 10px;
  border-radius:3px 3px 3px 3px;
}
.e16 button{
height: 45px;
background-color: rgb(244, 4, 4);
font-size: 16px;
margin: 0px 0px 10px;
float: right;
}
.e17{
  width: calc(24% - 30px);
  /* height: 500px; */
  margin: 0 15px 0 15px;
  float: right;
}

.e17 li{
  height: 49.45px;
  border-bottom: 1px solid rgb(223, 226, 223) ;
  line-height: 49.45px;
  text-align: right;
  padding: 5px 30px;
  color: rgb(248, 252, 237);
  cursor: pointer;
}
.e17 li:hover{
background-color: rgb(241, 242, 242);
}
.e17 li a{
  text-decoration: none;
  color: rgb(39, 40, 38);
}
.e18 {
  background-color: rgb(241, 242, 242);
}
.e19{
  width: calc(66% - 10px);
  background: rgb(240, 245, 241);
  margin: 4px 4.5% 5px 4.5% ;
  border-radius: 5px 4px 5px 4px;
  float: left;

}
.e20{
  width: 100%;
  float: right;
  cursor: pointer;
  margin: 2px 0;
  padding-left: 5%;
}
.e22{
  width: calc(96% - 28px);
  height: 45px;
  float: left;
  border: 1px solid grey;
  border-radius:3px 0 0 3px;
  border-right: none;
  cursor: pointer;
}
.e22-1{
  margin-top: 15px;
}
.e21{
  width: 28px;
  height: 45px;
  float: right;
  border: 1px solid grey;
  background-color: rgb(255, 255, 255);
  border-left: none;
  border-radius:0 3px 3px 0;
  margin-right: 4%;

}
.e21 i{
  position: relative;
  left: 5px;
  font-size: 18px;
  text-align: center;
  padding: 15px 8px 12px 0;
  color: rgb(128, 128, 128);
  cursor: pointer;
  margin-right: 10%;
}
i.e25{
  left: 10px !important ;
}

 .e22:focus,.e22:focus + .e21 {
  border-color: #920a99;
}
.e20::selection{
  background: rgb(227, 24, 175);

}

.e23::-moz-placeholder {
  opacity: 0.5;
}
.e23:focus::-moz-placeholder{
  opacity: 0.2;
}

.e24::-moz-placeholder {
  opacity: 0.9;
  color: rgb(0, 0, 0);
}
.e26:hover{
  background-color: rgb(241, 242, 242);
}

.e27{
  float: right;
  width:100%;
  border: 1px solid rgb(146, 10, 153);
  border-top: none;
  height: 200px;
  overflow: scroll;
  overflow-x: hidden;
  display: none;
  position: absolute;
  top: 45px;


}

.e27 li{
  width: 100%;
  float: right;
  border: none;
  background-color: #fff;
  list-style: none;
  text-align: center;

}
.e27 li:hover{
  background-color: #e6dbcc;
}
.e28{  width: 80px;  font-size: 16px;  margin: 50px 0 50px 50px;
background-color: rgb(244, 4, 4);
float: left;
}
.e29{
  width: 100px;
  position: relative;
  top: 48px;
  float: right;

}
.e30{
position: relative;
float: right;
width: 70px;
margin-top: 40px;

}
.e31 {
  font-size: 15px;
  color: rgb(77, 76, 78);
}
.e32{
  width: 60%;
  height: 60px;
  float: right;
  margin: 0 20% 20% 0;
  border-bottom: 1px solid rgb(204, 204, 204);
  position: relative;
  top:-41px;
}
.e32 span{
  float: right;
  padding: 30px 2%;
  cursor: pointer;
  color: rgb(148, 148, 148);
}
.e33{
  width: 24%;
  height: 19px;
  border-bottom: 1px solid rgb(245, 245, 245);
  float: right;

}
.e33:hover{
  color:rgb(0, 0, 0);
  border-bottom: 2px solid rgb(191, 16, 227);
}
.e34{
  padding: 30px 5%!important;
}
.e35{
  width: 70%;
  min-height: 400px;
  font-size: 16px;
  margin: 0 15% 30px;
  float: right;
  text-align: right;
}
.e36{
  width: 100%;
  min-height: 200px;
  float: right;
  text-align: center;
}
.e36-1{
  width: 95%;
  margin: 0 2.5% 35px;
  border-top: 1px solid rgb(221, 218, 220);
}
.e38{
width: 100%;
min-height: 700px;
float: right;

}
.e39{
  width: 80%;
  min-height: 400px;
  background-color: rgb(240, 240, 240);
  float: right;
}
.e38-1{
  font-size: 24px;
  float: right;
  text-align: right;
  margin-right: 9%;
  padding: 15px 0 2px 0;
}
.e40{
  margin: 10px 9% 0 9%;
  font-size: 17px;
  float: right;
}
.e40-1{
  color: rgb(113, 109, 109);
  padding: 16.5px 70% 16.5px 0;
  float: left;
  font-size: 26px;
  display: none;
}
.e40-2{
  color: rgb(113, 109, 109);
  padding: 15.5px 2% 15.5px 2%;
  float: right;
  display: none;
  border-left: 1px solid rgb(126, 126, 126);
}


.e40 li{
  width: 92%;
  margin: 0 4%;
  height: 65.45px;
  border-bottom: 1px solid rgb(223, 226, 223) ;
  line-height: 65.45px;
  text-align: right;
  padding: 5px 25px;
  color: rgb(248, 252, 237);
  cursor: pointer;
  list-style: none;
}
.e40 li:hover{
background-color: rgb(244, 234, 150);
}
.e40 li:hover .e40-1{
display: inline-block;
}
.e40 li a{
  text-decoration: none;
  color: rgb(39, 40, 38);
}
.li_i{
  position: relative;
  left: 25px;
  top:5px;
  color: rgb(113, 109, 109);
  display: none;
}
.ul2{
  width: 100%;
  float: right;
  background-color: rgb(240, 240, 240);
  color: rgb(15, 15, 13);
  display: none;
}
.e43{
  float: left;
  color: rgb(113, 109, 109);
  padding: 15.5px 2% 15.5px 2%;
  display: none;
}
.ul2 li:hover .e43{
display: inline-block;
}
.ul2 li{
  color: rgb(24, 24, 24);
}
.ul22_s{
  display: none;
}
.maindiv{
  float: right;
  width: 100%;
}
